apiVersion: batch/v1
kind: Job
metadata:
  name: pay-fix-get
  namespace: "{{ namespace_name }}"
  labels:
    app: pay-fix-get
    app.openshift.io/runtime: spring-boot
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: pay-fix-get
          image: quay.io/rhn_consulting_kemori/pay-fix-get:1.0.0
          imagePullPolicy: Always
          env:
            - name: DB_URL
              value: jdbc:postgresql://{{ database_app_name }}.{{ namespace_name }}.svc.cluster.local/{{ pg_database }}
            - name: DB_USER_NAME
              value: {{ pg_user }}
            - name: DB_PASSWARD
              value: {{ pg_password }}
            - name: SIMURATION_DATE
              value: "20250520"
            - name: SEIKYU_SHIMEBI
              value: "20250515"
            - name: OUTPUT_FILENAME
              value: "pay_fix_file.txt"
            - name: DELETE_FILEPATH
              value: "/mnt/data/pay/pay_fix_file.txt"
          volumeMounts:
            - name: pay-fix-get-vol
              mountPath: /mnt/data
      volumes:
        - name: pay-fix-get-vol
          persistentVolumeClaim:
            claimName: "{{ pvc_name }}"
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"