data_entry_name: shopping_entry
call_api_url: https://shopping-entry-{{ namespace_name }}.{{ openshift_domain }}/camel/demo/shopping_entry
call_api_method: POST
ok_response_code: 200
description: 売上受付
data_list:
    - '{"use_card_number": "3540000000000001", "use_date": "20250512", "shop_name": "Red Hat", "use_amount": 50000, "pay_type": "SPリボ"}'
    - '{"use_card_number": "3540000000000001", "use_date": "20250512", "shop_name": "Red Hat", "use_amount": 10000, "pay_type": "SP1回"}'
